html{

scroll-behavior:smooth;

}

body{

background:#07111F;

color:white;

font-family:
"Segoe UI",
Arial,
sans-serif;

overflow-x:hidden;

}

::-webkit-scrollbar{

width:8px;

}

::-webkit-scrollbar-thumb{

background:#58E1FF;

border-radius:10px;

}